.App {
  text-align: center;
  background-color: #ffffff;
  /* background colour */
}

.App-logo {
  height: 100vmin;
}
/* 
.App-header {
  background-color: #FE6B8B;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  position: top;
} */


.App-link {
  background: #ffffff;
  color: #56cd0c;
}

.App-concern {
  background: #ffffff;
  color: #56cd0c;
}
